@charset "UTF-8";
nav{
    text-align: center;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px;
    text-align: center;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-box{
    width: 80px;
    height: 50px;
    margin: 5px;
}

#cronos{
    margin: 20px;
    font-size: 64px;
    text-align: center;
}
#cronom{
    margin: 20px;
    font-size: 64px;
    text-align: center;
}
.change_button{
    margin: 3px;
}
button{
    width: 100px;
    height: 50px;
}