@charset "UTF-8";

[data-theme="dark"] {
    --bg: #0D0D0D;
    --border-color: #FFFFFF;
    --text-color: #FFFFFF;
    --text-transition-color: #000000;
    --buttons-bg-color: #ffffff00;
    --buttons-transition-color: #FFFFFF;
    --timer-bg: #1c1c1c;
    --modal-overlay: #00000099;
    --modal-background: #080808;
}

body {
    background-color: var(--bg);
}

nav {
    display: flex;
    justify-content: center;
}

.nav-btn-container {
    justify-content: space-between;
}

.nav-btn {
    border: 2px var(--border-color) solid;
    background-color: var(--buttons-bg-color);
    color: var(--text-color);
    width: 100px;
    height: 50px;
    transition: all 300ms ease-in-out;
}

.nav-btn:hover,
.timer-nav-btn:hover,
.timer-control-btn:hover,
.timer-control-btn-pause:hover,
.reset-btn:hover,
.modal__close:hover,
.save-settings:hover {
    background-color: var(--buttons-transition-color);
    color: var(--text-transition-color);
}

.timer-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.timer {
    border-radius: 5%;
    background-color: var(--timer-bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 550px;
    height: 400px;
}

.timer-nav-btn,
.timer-control-btn,
.timer-control-btn-pause,
.modal__close,
.save-settings {
    width: 100px;
    height: 50px;
    color: var(--text-color);
    background-color: var(--buttons-bg-color);
    border: var(--border-color) 1px solid;
    border-radius: 10%;
    font-size: 16px;
}

.timer-text {
    color: var(--text-color);
    margin-top: 10px;
    text-align: center;
    font-size: 74px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.reset-btn {
    width: 50px;
    height: 50px;
    color: var(--text-color);
    background-color: var(--buttons-bg-color);
    border: var(--border-color) 1px solid;
    border-radius: 10%;
    font-size: 16px;
}

/* Modal */
.micromodal-slide {
    display: none;

}

.micromodal-slide.is-open {
    display: block;
}

.modal__overlay {
    position: fixed;
    inset: 0;
    background: #00000099;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-title,
.modal__content {
    color: var(--text-color);
}

.settings-title {
    text-align: center;
}

.modal__container {
    background: var(--modal-background);
    border: var(--border-color) 1px solid;
    padding: 1rem;
    width: 400px;
    max-width: 90%;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.settings-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.time-settings-input {
    margin-left: 10px;
    width: 50px;
    width: 50px;
    color: var(--text-color);
    background-color: var(--buttons-bg-color);
    border: var(--border-color) 1px solid;
    font-size: 16px;
}

.modal-buttons {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}